<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">

        <p>Having been an iOS developer since 2010, I have played a key role in the development of many mobile applications. 
          These applications have achieved notable success in the App Store, including:</p>

        <ul>
          <li>TF1+:  « Your go-to destination for premium French TV series, live sports, and exclusive documentaries. »</li>
          <li>Mappy: « Street plans, routes and maps. Designed and made in France. »</li>
          <li>Unibet: « The Number 1 Sports betting app »</li>
          <li>Dashlane: « App of the day » Apple, « Life-changingly great » The NY Times, « Best full-featured password manager » Wired</li>
        </ul>
        
      </div>
      <div class="col-lg-4">
        
        <p>Beginning in 2020, I initiated my journey as an iOS and Swift development instructor through the Apple Foundation Program. 
          My expertise has been recognized with certification as an Apple Certified Trainer for App Development with Swift.</p>

        <p>Please get in touch with me directly via the form below.</p>

      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.linkedin.com/in/julieneyries/" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> LinkedIn
        </a> -->
      </div>
    </div>
  </div>
</section>
