<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">

        <p>Seasoned iOS Developer with over 8 years of expertise in Swift. I have been professionally developing iOS applications since 2010, contributing to a wide range of industries including media, public transport, sports betting, and security. In 2020, I have received the certification of Apple Certified Trainer for App Development with Swift.</p>

      </div>
      <div class="col-lg-4">
        
        <p>Currently, I am seeking freelance iOS development contracts on a B2B basis. I am open to remote work, ideally within the Paris timezone, or willing to consider on-site collaboration for a few days each week, depending on the location.</p>

      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.linkedin.com/in/julieneyries/" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> LinkedIn
        </a> -->
      </div>
    </div>
  </div>
</section>
